
@model IEnumerable<InClassProject.titleauthor>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>titleauthor</h4>
    <hr />
        @foreach(var item in Model)
        {
            @item.author.au_fname
            @item.author.au_lname
            <br/>
        }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
